<!DOCTYPE html>
    <html>
       <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" type="text/css" href="Style.css">
         <title>Banda</title>
       </head>
       <body bgcolor="8C8E8C">
      <center><h1 bgcolor="yellow">Directores de la banda</h1></center>
      <center><h3>Daniel Espindola</h3></center>
      <center><h3>Wilson Arango</h3></center>
      <center><p> <img src="/static/lolli_rollingstones.png" width="300" height="300"> </p></center>
      <center><button onclick="location.href='/banda'">Crear Banda</button></center>
       </body>
    </html>